Brotli==1.1.0
Cython==0.29.34
GitPython==3.1.43
Jinja2==3.1.2
Markdown==3.6
MarkupSafe==2.1.3
PySocks==1.7.1
PyWavelets==1.4.1
PyYAML==6.0.1
Pygments==2.17.2
SciPy==1.11.4
accelerate==0.25.0
addict==2.4.0
aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
asttokens==2.4.1
attrs==23.2.0
bleach==6.1.0
bokeh==3.4.1
causalml==0.15.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
colorcet==3.1.0
coloredlogs==15.0.1
colorspacious==1.1.2
comm==0.2.1
contourpy==1.2.0
crudini==0.9.5
cycler==0.12.1
dask-expr==1.1.1
dask==2024.5.1
datasets==2.16.1
datashader==0.16.1
debugpy==1.8.1
decorator==5.1.1
diffusers==0.24.0
dill==0.3.7
docker-pycreds==0.4.0
econml==0.15.0
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.1
flatbuffers==23.5.26
fonttools==4.47.0
forestci==0.6
frozenlist==1.4.1
fsspec==2023.10.0
gitdb==4.0.11
graphviz==0.20.3
groundingdino-py==0.4.0
holoviews==1.18.3
huggingface-hub==0.20.0
humanfriendly==10.0
idna==3.6
imagecodecs==2024.1.1
imageio==2.33.1
importlib-metadata==7.0.1
iniparse==0.5
ipykernel==6.29.3
ipython==8.22.2
ipywidgets==8.1.2
jedi==0.19.1
joblib==1.3.2
jsonschema-specifications==2023.12.1
jsonschema==4.22.0
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
kmodes==0.12.2
lazy_loader==0.3
lightgbm==4.3.0
linkify-it-py==2.0.3
llvmlite==0.42.0
locket==1.0.0
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
matplotlib==3.8.2
mdit-py-plugins==0.4.1
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
multimethod==1.9.1
multipledispatch==1.0.0
multiprocess==0.70.15
munkres==1.1.4
mypy-extensions==1.0.0
nbformat==5.10.4
nest_asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
numba==0.59.0
numexpr==2.10.0
numpy==1.26.3
onnx==1.15.0
onnxruntime==1.16.3
opencv-python==4.8.1
opt-einsum==3.3.0
packaging==23.2
pandas-stubs==2.2.0.240218
pandas==2.2.2
pandera==0.18.0
panel==1.4.2
param==2.1.0
parso==0.8.3
partd==1.4.2
pathos==0.2.9
patsy==0.5.6
pickleshare==0.7.5
pillow==10.2.0
pip==23.3.2
pixlens==0.0.0
platformdirs==4.1.0
plotly==5.22.0
pox==0.3.4
ppft==1.7.6.8
progressbar2==4.4.2
prompt-toolkit==3.0.42
protobuf==4.24.4
psutil==5.9.7
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow-hotfix==0.6
pyarrow==14.0.2
pycocotools==2.0.6
pyct==0.5.0
pydantic==2.5.3
pydantic_core==2.14.6
pydotplus==2.0.2
pygam==0.9.1
pynndescent==0.5.12
pyparsing==3.1.1
pyreadline3==3.4.1
pyro-api==0.1.2
pyro-ppl==1.9.0
python-dateutil==2.8.2
python-utils==3.8.2
pytz==2023.3.post1
pyviz_comms==3.0.2
pywin32==306
pyzmq==25.1.2
referencing==0.35.1
regex==2023.12.25
requests==2.31.0
rpds-py==0.18.0
safetensors==0.3.3
scikit-image==0.22.0
scikit-learn==1.4.1.post1
seaborn==0.13.2
segment-anything-py==1.0
sentry-sdk==2.5.1
setproctitle==1.3.3
setuptools==70.0.0
shap==0.43.0
six==1.16.0
slicer==0.0.7
smmap==5.0.1
sparse==0.15.1
stack-data==0.6.2
statsmodels==0.14.1
supervision==0.6.0
sympy==1.12
tables==3.9.2
tenacity==8.2.3
threadpoolctl==3.3.0
tifffile==2023.12.9
timm==0.9.12
tokenizers==0.15.0
tomli==2.0.1
toolz==0.12.1
torch==2.1.2
torchvision==0.16.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.36.0
typeguard==4.1.5
types-pytz==2024.1.0.20240203
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
uc-micro-py==1.0.3
umap-learn==0.5.6
umap==0.1.1
urllib3==2.1.0
wandb==0.17.1
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.43.0
widgetsnbextension==4.0.10
win-inet-pton==1.1.0
wrapt==1.16.0
xarray==2024.5.0
xformers==0.0.23.post1
xgboost==2.0.3
xxhash==3.4.1
xyzservices==2024.4.0
yapf==0.40.1
yarl==1.9.3
zipp==3.17.0